@using TicketsUA.ViewModel
@model List<Tickets>


<section>
    <div class="background-color-tikets">
        <div class="container">
            <div class="info-panel">
                <div class="input-panel">
                    <input type="text" class="input-text bor-radius-left" placeholder="Звідки">
                    <input type="text" class="input-text" placeholder="Куди">
                    <input type="date" class="date-input">
                    <input type="date" class="date-input">
                    <select class="spad-menu bor-radius-right">
                        <option value="value1">Економ</option>
                        <option value="value1">Комфорт</option>
                        <option value="value2">Бізнес</option>
                        <option value="value3">Перший клас</option>
                    </select>
                    <button type="submit" class="find-tickets-button">Знайти квитки</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    @if (Model != null)
    {
        @foreach (var ticket in Model)
        {
            <div class="center-wrapper">
                <div class="card">
                    <div class="info-cost">
                        <div class="price">
                            <h2 class="price-text">33000₴</h2>
                        </div>
                        <div class="submit-button">
                            <button>Купити</button>
                        </div>
                    </div>
                <div class="tickets">
                    <div class="info-fly">
                        <div class="departure">
                            <div class="info-company">
                                <div class="img-company">
                                    <img class="logo-company" src="~/img/THYAO.IS-f22d40e8.png">
                                </div>
                                <div class="title-company">
                                    <h3 class="text-title">Turkish AirLines</h3>
                                </div>
                                <div class="class-seat">
                                    <h3 class="text-seat">@ticket.ClassSeat</h3>
                                </div>
                            </div>

                            <div class="info-flight-time">
                                <div class="time-departure">
                                    <h2 class="text-time-departure">@ticket.DepartureDate.TimeOfDay.ToString("hh':'mm")</h2>
                                </div>

                                <div class="flight-time">
                                    <h4 class="text-flight-time">2год 45хв</h4>
                                </div>

                                <div class="time-arrival">
                                    <h2 class="text-time-arrival">@ticket.ArrivalDate.Value.TimeOfDay.ToString("hh':'mm")</h2>
                                </div>
                            </div>

                            <div class="fly-time-line">
                                <div class="flight-info">
                                    <div class="flight-time">Час польоту: <span>2год 30хв</span></div>
                                        <div class="flight-route">LO-335 Варшава - Париж</div>
                                    </div>
                            </div>

                            <div class="title-airport">
                                <div class="title-airport-departure">
                                    <h3 class="text-airport-departure">@ticket.StartAirport</h3>
                                </div>

                                <div class="title-airport-departure">
                                        <h3 class="text-airport-departure">@ticket.EndAirport</h3>
                                </div>
                            </div>

                        </div>                        
                    </div>

                    <div class="horizontal-line"></div>

                    <div class="info-fly">
                        <div class="departure">
                            <div class="info-company">
                                <div class="img-company">
                                    <img class="logo-company" src="~/img/THYAO.IS-f22d40e8.png">
                                </div>
                                <div class="title-company">
                                    <h3 class="text-title">Turkish AirLines</h3>
                                </div>
                                <div class="class-seat">
                                    <h3 class="text-seat">@ticket.ClassSeat</h3>
                                </div>
                            </div>

                            <div class="info-flight-time">
                                <div class="time-departure">
                                    <h2 class="text-time-departure">@ticket.DepartureDate.TimeOfDay.ToString("hh':'mm")</h2>
                                </div>

                                <div class="flight-time">
                                    <h4 class="text-flight-time">2год 45хв</h4>
                                </div>

                                <div class="time-arrival">
                                    <h2 class="text-time-arrival">@ticket.ArrivalDate.Value.TimeOfDay.ToString("hh':'mm")</h2>
                                </div>
                            </div>

                            <div class="fly-time-line">
                                <div class="flight-info">
                                    <div class="flight-time">Час польоту: <span>2год 30хв</span></div>
                                        <div class="flight-route">LO-335 Варшава - Париж</div>
                                    </div>
                            </div>

                            <div class="title-airport">
                                <div class="title-airport-departure">
                                    <h3 class="text-airport-departure">Варшава</h3>
                                </div>

                                <div class="title-airport-departure">
                                    <h3 class="text-airport-departure">Париж</h3>
                                </div>
                            </div>

                        </div>                        
                    </div>

                </div>
                </div>
            </div>
        }
    }
    else
    {
        <h1>Error! Is null!</h1>
    }

</section>



